.topBarContainer {
   display: block;
   padding-top: .3em;
}

.mainLogo {
   display: inline-flex;
   width: min-content;
   margin-left: 1rem;
}

.logoName {
   display: inline;
   margin: 0 0 0 0;
}


.navigators {
   display: block;
   width: max-content;
   float: right;
}

@mixin buttonStyle {
   display: inline;
   margin: .5rem;

   &:hover>.icon {
      cursor: pointer;
      border-radius: 2rem;
      transition-timing-function: ease-in;
      background-color: #3f3f3f9f;
   }
}

.icon {
   padding: .5rem;
   height: 2rem;
   border-radius: .5rem;
   transition-property: all;
   transition-duration: 300ms;
}

.menuButton {
   @include buttonStyle();
}

.navigateButton {
   @include buttonStyle();
}

.userButton {
   @include buttonStyle();
   padding: 0 2rem 0;
}