.cardContainer {
   display: flex;
   position: relative;
   flex-direction: row;
   width: max-content;
   margin: .3rem 0rem .3rem;
   padding: .5rem .5rem .5rem .5rem;
   background-color: #30303040;
   border-radius: .7rem;
   transition-property: all;
   transition-duration: 250ms;

   &:hover {
      cursor: pointer;
      transition-timing-function: ease-in;
      background-color: #3f3f3f70;
   }

   &:hover>.imgContainer {
      transition-timing-function: ease-in;
      box-shadow: 0px 0px .7rem 0 #222222;
   }

}

.imgContainer {
   display: inline-block;
   position: relative;
   width: 4rem;
   height: 4rem;

   overflow: hidden;
   border-radius: .4rem;
   transition-property: inherit;
   transition-duration: inherit;
}

.image {
   display: block;
   height: inherit;
}

.playButton {
   display: none;
   // position: absolute;
   // z-index: 5000;
   // top: 65%;
   // right: -1%;
   // transform: translate(-50%, -50%);
}

// .icon {
//    padding: .1rem;
//    height: 2rem;
//    border-radius: 2rem;
//    background-color: #a0a0a0;
//    transition-property: all;
//    transition-duration: 300ms;

//    &:hover {
//       height: 2.1rem;
//       background-color: #dd9a99;
//       transition-timing-function: ease-in;
//    }
// }


.textContentWrapper {
   display: inline-flex;
   font-size: smaller;
   overflow: hidden;
   margin-left: .7rem;
   flex-direction: column;
   width: 10rem;
}

.titleBox {
   display: block;
   height: 1.1rem;
   margin: 0 0 .5rem;
   color: #d1d1d1;
   overflow: hidden;
}

.descriptionBox {
   display: block;
   color: #a0a0a0;
}