.sideBarContainer {
   display: flex;
   flex-direction: column;
   padding: 0 .5rem 0;
   // border: #424242;
   // border-right-width:.1rem;
   // border-right-style:solid;
}


.optionWrapper {
   display: flexbox;
   height: max-content;
}

.menuOption {
   text-decoration: none;
   color: inherit;
   list-style: none;
   display: flex;
   padding: .5rem;
   margin: .5rem 1rem .5rem;
   align-items: center;

   transition-property: all;
   transition-duration: 250ms;

   &:hover {
      cursor: pointer;
      border-radius: .5rem;
      transition-timing-function: ease-in;
      background-color: #3f3f3f9f;
   }
}

.textHolder {
   display: inline;
   margin: 0 0;
   padding-left: 1rem;
   padding-right: .5rem;

   font-weight: 500;
   font-size: large;
}

.icon {
   height: 2.5rem;
}

.scrollable {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem 0 1rem;
}