.sideBarContainer{
   display: flex;
   flex-direction: row;
}


.optionWrapper {
   display: flexbox;
   height: max-content;
}

.menuOption {
   text-decoration: none;
   color: inherit;
   list-style: none;
   display: flex;
   padding: .5rem;
   margin: .5rem;
   align-items: center;
   
   transition-property: all;
   transition-duration: 250ms;
   
   &:hover {
      cursor: pointer;
      border-radius: .5rem;
      transition-timing-function: ease-in;
      background-color: #3f3f3f9f;
   }
}

.textHolder {
   display: inline;
   margin: 0 0;
   padding-left: 1rem;
   padding-right: .5rem;

   font-weight: 500;
   font-size: large;
}

.icon {
   height: 2rem;
}