.rowWrapper {
   display: block;
   overflow: hidden;
}

.rowHeader {
   display: block;
   align-items: baseline;
}

.title {
   color: #1f1f1f;
   display: inline;
}

.accionButton {
   display: inline;
   position: relative;
   font-size: 90%;
   padding-top: 0.1rem;
   margin-right: 3rem;
   float: right;
}

.contentContainer {
   display: flex;

}