.app {
   background-color: #0f0f0f;
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.sideBarAndMainFrameWrapper {
   display: flex;
   flex-grow: 2;
   overflow: hidden;
}

.mainFrame {
   display: block;
   flex-grow: 2;
   // background-color: #0f0f0f;

   // background-color: #f7cac9;
   // background-image: linear-gradient(#252525, #0f0f0fbb);
   // background-image: linear-gradient(#f7cac9, #f7cac9bb, #5c4d4dbb, #0f0f0fbb);
   border-radius: 1rem;
}

.rightSideBlock {
   display: inline-block;
   width: 1rem;
}

.playBar {
   display: flex;
   height:min-content;
   align-items: center;
   justify-content: center;
}